@import	url('../../ThirdParty/dojo-release-1.8.3-src/dijit/themes/claro/claro.css');
@import url('../../Source/Widgets/Dojo/CesiumViewerWidget.css');

.fullWindow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

.cw-slopeIcon {
    background-image: url('Gallery/slope.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
